body {
  background: black;
  position: relative;
}
* {
  box-sizing: border-box;
}
.planet,
.orbit {
  position: fixed;
  width: 5%;
  background: blue;
  border-radius: 100%;
  top: 50%;
}
.planet:after,
.orbit:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
main {
  display: block;
  width: 50%;
  margin-left: 50%;
}
