body {
  background: black;
  position: relative;
}
* {
  box-sizing: border-box;
}
.planet,
.orbit {
  position: fixed;
  border-radius: 100%;
  top: 50%;
}

main {
  display: block;
  width: 50%;
  margin-left: 50%;
}
